.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    width: 60vw;
    height: 140vh;
    margin: 100px auto;
    padding: 50px;
  }